<div class="content" role="main">
  <h2>Angular app for fetching Posts (core v13.1.0)</h2>
  <h4><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-braces" viewBox="0 0 16 16">
    <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6zM13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6z"/>
  </svg> {{ title }} is running!</h4>

  <p class="general_info">
    This is a simple frontend application for managing posts with an specific API.
    Using web components (noted as <strong>view-*</strong> in the project) for exposing the different pages.<br><br>

    For now there is no need for a backend/middleware application (no dealing with complex formats neither data reestructuring).
    Build with a domain module architecture along with components, services and models inside them. Not using for now the shared module because it is a simple project.
    There is no environment vars also for the same reason, the API endpoint is served externally without any possible changes.<br><br>

    We are not using Angular material here, not very experienced on it but instead using ng-bootstrap (v5) along its features.
    The application have its own router along with one specific main module for now.<br><br>

    Another last important note is that the project for now contains css instead of scss/sass tools, maybe it's really a great idea to integrate them instead.
  </p>

  <p>Following functionality for the little application:</p>
  <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck1" routerLink="/posts">Display posts</label>

    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck2" routerLink="/create_post">Create post</label>

    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck3" routerLink="/edit_post">Editar post</label>
  </div>
</div>
